.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

* {
  box-sizing: border-box;
  margin: 0%;
  padding: 0%;
  overflow: scroll;
  overflow: hidden;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 90vw;
  height: 90vh;
  z-index: 0;
}

.clicker {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  background-color: red;
  color: white;
  border-radius: 50%;
  font-size: medium;
  margin-top: 20px;
}

.gold {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: larger;
  background-color: rgb(210, 88, 238);
  color: black;
  width: 130px;
  height: 50px;
  border-radius: 30px;
  margin: 20px;
}

.goldposition {
  display: flex;
  justify-content: space-between;
  align-items: end;
}

.background {
  width: 100vw;
  height: 100vh;
  background-color: rgb(100, 211, 100);
  padding: 20px;
  position: relative;
}

.counter {
  color: white;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 120px;
  height: 70px;
  font-size: larger;
  border-radius: 20px;
}

.imgdesign {
  height: 55px;
  width: 55px;
}

.buyposition {
  display: flex;
  justify-content: start;
  align-items: center;
  z-index: 1;
  color: black;
  flex-direction: row;
  margin: 20px;
}

.button {
  width: 100px;
  height: 100px;
  margin: 10px;
  background-color: rgb(215, 242, 253);
  border-radius: 20px;
}

.upgrade {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px;
  background-color: beige;
  border-radius: 20px;
  width: 500px;
  height: 40px;
}
